<div class="history">
    <p>3回<span class="blue">----</span>　　2回<span class="dark-skyblue">----</span>　　 1回<span class="light-skyblue">----</span>&emsp;&emsp;かゆみ<span class="red">----</span>&emsp;&emsp;
    <%= link_to "前の月へ", "/histories/prev_month", method: :get %>　<%= link_to "次の月へ", "/histories/next_month", method: :get %></p>
    <table class="table">
        <tr>
            <th>部位名</th>
            <% @dates.each do |date| %>
            <th> <%= date %></th>
            <% end %>
        </tr>
            <% @histories.each do |history| %>
                <tr>
                    <% history.each_with_index do |color, index| %>
                        <% if index == 0 %>
                            <td> <%= color %> </td>
                        <% else %>
                            <td class="<%=color%>"></td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>            
    </table>
</div>