<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav>
          <% if user_signed_in? %>
            <%= current_user.email %>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <%= link_to '部位一覧', "/regions/show" %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'サインアップ', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="container content">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"　role="alert">
          <p> <%= value %> </p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
